.card-principal {
    width: 96%;
    /* border: 1px solid black;  */
    margin-top: 20px;
    margin-left: 3.5%;
    padding: 15px;
    background-color: transparent;
    /* quitamos el borde de la card */
    border: none;   
}